{% extends 'base.html.twig' %}

{% block title %}Page Controller{% endblock %}

{% block body %}
<div>
    <h1>Vous êtes sur la page /Definition</h1>
    {{ 'definition.name' }}
</div>
{% endblock %}
