{% extends 'base.html.twig' %}


{% block title %}Nouvelle Balise{% endblock %}

{% block body %}
    <h1>Insérer une nouvelle balise</h1>

    {{ include('definition/_form.html.twig',
        {action : 'Créer'}) }}

{% endblock %}
