{% extends 'base.html.twig' %}

{% block body %}
<body>
    <div class="page-wrap">
        <div class="sidebar">
            <div class="side">
                <a href="#">^</a>
                <div class="sidedown-content">
                    <div class="shtml">
                        <a href="#debut-html">HTML</a>
                            <div class="sidedown">
                                <a href="#balises">Balises</a>
                            </div>
                    </div>
                    <div class="scss">
                        <a href="#debut-css">CSS</a>
                        <div class="sidedownn">
                            <a href="#attribut">Attributs</a>
                            <a href="#pseudo-classe">Pseudo-classe</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="debut-html"><h1>HTML</h1></div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut est efficitur, sollicitudin sapien in,
            maximus arcu. Aliquam tristique arcu placerat metus iaculis bibendum. Nulla tellus nulla, semper nec dictum
            tincidunt, mollis commodo mauris. Nullam ac congue tortor. Lorem ipsum dolor sit amet, consectetur adipiscing
            elit. Sed sed gravida mi, ac semper libero. Quisque id tincidunt nisl, sit amet ornare felis. Vivamus et purus
            in lorem luctus consectetur ac vel felis. Etiam lacinia accumsan mattis. Sed neque metus, efficitur a nulla a,
            venenatis porta velit. Nullam suscipit lobortis luctus. Donec consectetur ligula ac mi ornare maximus. Morbi
            arcu nunc, hendrerit tempus dui nec, porttitor fringilla neque. Fusce in augue at sapien fermentum fringilla
            vel a elit. Nulla gravida sapien vitae hendrerit accumsan. Donec iaculis bibendum erat at lobortis. Vestibulum
            laoreet in turpis sit amet accumsan. Nam ullamcorper augue arcu, sed auctor dolor luctus eu. Nulla tempor arcu
            at eros ornare ultrices. Quisque sit amet auctor augue. Fusce ornare posuere blandit. Curabitur nec urna tellus.
            Duis vitae lectus quis metus ultrices accumsan non ac diam. Ut pharetra, ex a rhoncus faucibus, urna purus
            consequat est, eget laoreet purus elit ac nunc. Nam vitae leo tortor. Donec sed ex ut elit faucibus luctus a
            et diam. Fusce vitae lobortis diam. Nulla felis nulla, pellentesque a mauris eu, sodales tristique lorem.
            Vestibulum erat felis, aliquam luctus sodales id, tempus ut nisi. Nulla a mauris commodo, commodo nibh non,
            faucibus est. Aliquam pretium urna ac commodo auctor. Maecenas eget nisl feugiat, efficitur ante vel, facilisis
            sapien. Duis pulvinar mattis risus, a lacinia eros sagittis sed. Donec ac dignissim diam, vel gravida odio.
            Praesent sit amet aliquam nunc. Sed eget erat erat. Interdum et malesuada fames ac ante ipsum primis in faucibus.
            Proin iaculis mauris a fermentum rutrum. Nulla tincidunt lacinia ligula, eget placerat dui porttitor quis.
            Suspendisse potenti. Donec ultrices dignissim sem, nec dignissim purus dignissim at. Donec eget eleifend purus,
            nec blandit ligula. Curabitur fringilla massa varius elementum rutrum. Donec non velit at libero imperdiet
            condimentum. In iaculis in ligula sit amet scelerisque. Proin consectetur nunc turpis, id luctus lacus sagittis
            ac. Aliquam condimentum bibendum nisl, ut finibus neque. Suspendisse sit amet ipsum quam. Donec ut lorem
            molestie, bibendum nisl ac, maximus lacus. Fusce ex velit, condimentum vel risus vel, vehicula vehicula libero.
            Pellentesque diam libero, imperdiet ac tortor non, interdum dapibus metus. Class aptent taciti sociosqu ad
            litora torquent per conubia nostra, per inceptos himenaeos. Cras arcu quam, facilisis a massa ut, tempus
            malesuada risus. Donec faucibus tincidunt magna, eget laoreet arcu consectetur ac. Proin convallis nulla non
            arcu pretium vehicula. Fusce eget urna lobortis, hendrerit dolor fermentum, vulputate quam. Sed ornare mattis
            lectus, in accumsan neque accumsan sed. Fusce iaculis congue semper. Sed feugiat, tellus quis vehicula auctor,
            augue dui venenatis lacus, nec congue nunc sem eget orci. Sed a vestibulum ligula.
        </p>
        <div id="balises"><h2>Balises</h2></div>
            <table>
                <caption>Définition HTML</caption>
                <thead>
                <tr>
                    <th>Balises</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>head</td>
                    <td>definition1</td>
                </tr>
                <tr>
                    <td>body</td>
                    <td>definition2</td>
                </tr>
                <tr>
                    <td>footer</td>
                    <td>definition3</td>
                </tr>
                </tbody>
            <tfoot></tfoot>
            </table>
        <div id="debut-css"><h1>CSS</h1></div>
        <table>
            <caption>Définition CSS</caption>
            <thead>
                <tr>
                    <th>CSS</th>
                    <th>Description</th>
                </tr>
            </thead>
                <tbody>
                <tr>
                    <td>Blabla1</td>
                    <td>definition1</td>
                </tr>
                <tr>
                    <td>Blabla2</td>
                    <td>definition2</td>
                </tr>
                </tbody>
        </table>
        <div id="attribut">
            <h2>Attributs</h2>
        </div>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut est efficitur, sollicitudin sapien in,
            maximus arcu. Aliquam tristique arcu placerat metus iaculis bibendum. Nulla tellus nulla, semper nec
            dictum tincidunt, mollis commodo mauris. Nullam ac congue tortor. Lorem ipsum dolor sit amet,
            consectetur adipiscing elit. Sed sed gravida mi, ac semper libero. Quisque id tincidunt nisl, sit amet
            ornare felis. Vivamus et purus in lorem luctus consectetur ac vel felis. Etiam lacinia accumsan mattis.
            Sed neque metus, efficitur a nulla a, venenatis porta velit. Nullam suscipit lobortis luctus. Donec
            consectetur ligula ac mi ornare maximus. Morbi arcu nunc, hendrerit tempus dui nec, porttitor fringilla
            neque. Fusce in augue at sapien fermentum fringilla vel a elit.
            Nulla gravida sapien vitae hendrerit accumsan. Donec iaculis bibendum erat at lobortis. Vestibulum
            laoreet in turpis sit amet accumsan. Nam ullamcorper augue arcu, sed auctor dolor luctus eu. Nulla
            tempor arcu at eros ornare ultrices. Quisque sit amet auctor augue. Fusce ornare posuere blandit.
            Curabitur nec urna tellus. Duis vitae lectus quis metus ultrices accumsan non ac diam. Ut pharetra,
            ex a rhoncus faucibus, urna purus consequat est, eget laoreet purus elit ac nunc. Nam vitae leo tortor.
            Donec sed ex ut elit faucibus luctus a et diam.
            Fusce vitae lobortis diam. Nulla felis nulla, pellentesque a mauris eu, sodales tristique lorem.
            Vestibulum erat felis, aliquam luctus sodales id, tempus ut nisi. Nulla a mauris commodo, commodo nibh
            non, faucibus est. Aliquam pretium urna ac commodo auctor. Maecenas eget nisl feugiat, efficitur ante
            vel, facilisis sapien. Duis pulvinar mattis risus, a lacinia eros sagittis sed. Donec ac dignissim diam, vel gravida odio. Praesent sit amet aliquam nunc. Sed eget erat erat. Interdum et malesuada fames ac ante ipsum primis in faucibus. Proin iaculis mauris a fermentum rutrum.
            Nulla tincidunt lacinia ligula, eget placerat dui porttitor quis. Suspendisse potenti. Donec ultrices
            dignissim sem, nec dignissim purus dignissim at. Donec eget eleifend purus, nec blandit ligula. Curabitur
            fringilla massa varius elementum rutrum. Donec non velit at libero imperdiet condimentum. In iaculis in ligula sit amet scelerisque. Proin consectetur nunc turpis, id luctus lacus sagittis ac.
            Aliquam condimentum bibendum nisl, ut finibus neque. Suspendisse sit amet ipsum quam. Donec ut lorem
            molestie, bibendum nisl ac, maximus lacus. Fusce ex velit, condimentum vel risus vel, vehicula vehicula
            libero. Pellentesque diam libero, imperdiet ac tortor non, interdum dapibus metus. Class aptent taciti
            sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Cras arcu quam, facilisis a massa
            ut, tempus malesuada risus. Donec faucibus tincidunt magna, eget laoreet arcu consectetur ac. Proin
            convallis nulla non arcu pretium vehicula. Fusce eget urna lobortis, hendrerit dolor fermentum, vulputate
            quam. Sed ornare mattis lectus, in accumsan neque accumsan sed. Fusce iaculis congue semper. Sed feugiat,
            tellus quis vehicula auctor, augue dui venenatis lacus, nec congue nunc sem eget orci. Sed a vestibulum
            ligula.
        </p>
        <div id="pseudo-classe"><h2>Pseudo-classe</h2></div>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut est efficitur, sollicitudin sapien in,
            maximus arcu. Aliquam tristique arcu placerat metus iaculis bibendum. Nulla tellus nulla, semper nec dictum
            tincidunt, mollis commodo mauris. Nullam ac congue tortor. Lorem ipsum dolor sit amet, consectetur adipiscing
            elit. Sed sed gravida mi, ac semper libero. Quisque id tincidunt nisl, sit amet ornare felis. Vivamus et purus
            in lorem luctus consectetur ac vel felis. Etiam lacinia accumsan mattis. Sed neque metus, efficitur a nulla a,
            venenatis porta velit. Nullam suscipit lobortis luctus. Donec consectetur ligula ac mi ornare maximus. Morbi
            arcu nunc, hendrerit tempus dui nec, porttitor fringilla neque. Fusce in augue at sapien fermentum fringilla
            vel a elit.
            Nulla gravida sapien vitae hendrerit accumsan. Donec iaculis bibendum erat at lobortis. Vestibulum laoreet in
            turpis sit amet accumsan. Nam ullamcorper augue arcu, sed auctor dolor luctus eu. Nulla tempor arcu at eros
            ornare ultrices. Quisque sit amet auctor augue. Fusce ornare posuere blandit. Curabitur nec urna tellus. Duis
            vitae lectus quis metus ultrices accumsan non ac diam. Ut pharetra, ex a rhoncus faucibus, urna purus consequat
            est, eget laoreet purus elit ac nunc. Nam vitae leo tortor. Donec sed ex ut elit faucibus luctus a et diam.
            Fusce vitae lobortis diam. Nulla felis nulla, pellentesque a mauris eu, sodales tristique lorem. Vestibulum
            erat felis, aliquam luctus sodales id, tempus ut nisi. Nulla a mauris commodo, commodo nibh non, faucibus est.
            Aliquam pretium urna ac commodo auctor. Maecenas eget nisl feugiat, efficitur ante vel, facilisis sapien. Duis
            pulvinar mattis risus, a lacinia eros sagittis sed. Donec ac dignissim diam, vel gravida odio. Praesent sit amet
            aliquam nunc. Sed eget erat erat. Interdum et malesuada fames ac ante ipsum primis in faucibus. Proin iaculis mauris a fermentum rutrum.
            Nulla tincidunt lacinia ligula, eget placerat dui porttitor quis. Suspendisse potenti. Donec ultrices dignissim
            sem, nec dignissim purus dignissim at. Donec eget eleifend purus, nec blandit ligula. Curabitur fringilla massa
            varius elementum rutrum. Donec non velit at libero imperdiet condimentum. In iaculis in ligula sit amet scelerisque. Proin consectetur nunc turpis, id luctus lacus sagittis ac.
            Aliquam condimentum bibendum nisl, ut finibus neque. Suspendisse sit amet ipsum quam. Donec ut lorem molestie,
            bibendum nisl ac, maximus lacus. Fusce ex velit, condimentum vel risus vel, vehicula vehicula libero. Pellentesque
            diam libero, imperdiet ac tortor non, interdum dapibus metus. Class aptent taciti sociosqu ad litora torquent
            per conubia nostra, per inceptos himenaeos. Cras arcu quam, facilisis a massa ut, tempus malesuada risus. Donec
            faucibus tincidunt magna, eget laoreet arcu consectetur ac. Proin convallis nulla non arcu pretium vehicula.
            Fusce eget urna lobortis, hendrerit dolor fermentum, vulputate quam. Sed ornare mattis lectus, in accumsan neque
            accumsan sed. Fusce iaculis congue semper. Sed feugiat, tellus quis vehicula auctor, augue dui venenatis lacus,
            nec congue nunc sem eget orci. Sed a vestibulum ligula.
        </p>
    </div>
</body>
{% endblock %}