{% extends 'base.html.twig' %}

{% block body %}
<body>
    <div class="page-wrap">
        <div class="article">
            <article>
                <h1>Regardons plus en détails le HTML</h1>
                <img class="img" src="{{ asset('img/code-HTML.png') }}" alt="code-HTML en image"
                     title="code-HTML en image">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris a ex velit. Cras gravida bibendum condimentum. Vivamus vel ligula ullamcorper, dapibus sapien in, dapibus urna. Curabitur pharetra in eros nec egestas. In faucibus vehicula commodo. Duis suscipit ligula vel sapien euismod, vel auctor risus eleifend. Fusce imperdiet porta rutrum. Sed ultricies dui in sem dictum lacinia. Morbi et sapien mi. Donec nunc massa, varius ac elit vel, porttitor sollicitudin arcu. Suspendisse ut sapien est. Nunc sodales est vitae blandit pellentesque. Proin venenatis commodo molestie. Donec vehicula diam turpis, eget tempus augue suscipit sit amet.
                Suspendisse potenti. Donec tincidunt, nunc non porta sodales, arcu sapien elementum nisl, eget maximus est nisi nec magna. Etiam a sollicitudin erat, id tincidunt ligula. Nullam et est cursus, malesuada metus in, porttitor eros. Maecenas ligula lacus, consequat ac posuere suscipit, elementum id felis. Sed in ante metus. Sed mauris lacus, condimentum ut orci eu, pulvinar volutpat tortor. Ut eget tellus elementum mauris blandit varius non ac urna. Sed scelerisque egestas augue, vel mattis ex tempus non. Cras libero risus, bibendum vitae ipsum id, blandit molestie leo. Donec hendrerit mauris at viverra tristique. Donec fringilla, tellus ut imperdiet gravida, augue risus iaculis arcu, eu vulputate arcu odio vel orci. Curabitur ut massa et purus elementum congue. Aenean et bibendum dui. Sed aliquet sodales ipsum, sit amet gravida libero hendrerit et.
                Ut dictum semper posuere. Maecenas ut justo non est molestie consequat. Sed ullamcorper efficitur augue non hendrerit. Nulla dolor nisi, malesuada at velit sit amet, rutrum egestas urna. Nullam scelerisque, tortor vel gravida vulputate, lectus nibh tincidunt sapien, ac dapibus sem erat quis sapien. Curabitur lorem nunc, feugiat vitae ultrices vel, tincidunt in turpis. Proin nisl magna, lacinia ut consequat quis, egestas sed dui. Maecenas sit amet interdum massa, eu mollis felis. Pellentesque gravida lorem mauris, ut luctus massa gravida eget. Curabitur id elit et eros mollis aliquam. Fusce imperdiet quam non lorem molestie, in mattis est aliquet. Fusce vel leo scelerisque augue lacinia euismod at ut ligula. Cras id interdum erat. Curabitur facilisis sit amet quam sit amet pellentesque.
                Nunc convallis sed nulla vitae laoreet. Integer eget ipsum orci. Nunc tristique justo vitae purus malesuada, id lacinia ligula bibendum. Pellentesque a sollicitudin arcu. Etiam ac magna eget nunc aliquet rutrum quis quis mauris. Aenean maximus elit et nisl commodo, id tincidunt neque porttitor. Maecenas laoreet eget orci et suscipit.
                Vivamus tincidunt ut leo ac rutrum. Sed viverra ut neque id sagittis. Aliquam nec condimentum libero. Morbi maximus molestie laoreet. Vestibulum a eros vitae risus ornare vestibulum. In malesuada sed ipsum rutrum elementum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec eget elit vitae ante pretium pellentesque. Nam mollis libero ac elementum pulvinar. Ut eget nulla malesuada, accumsan lectus at, varius quam. Morbi et turpis eget felis dictum viverra. Donec vulputate egestas eros, vel viverra lectus. Aliquam sed felis a urna aliquet volutpat. Morbi ipsum odio, rhoncus eget risus nec, ornare convallis felis.
            </article>
        </div>
    </div>
</body>
{% endblock %}

