caption {

    background-color: sienna;
    border: solid sienna;
    font-size: 25px;
}

tr {
    border-bottom: solid sienna;
}

th.balise, th.language, td.balise, td.language {
    border-radius: 5px;
    text-align: center;
    width: 200px;
}

table {
    margin-left: 10px;
    border-collapse: collapse;
    border: solid sienna;
    background-color: beige;
}

#fix {
    background-color: forestgreen;
    position: fixed;
    top: 80px;
    left: 700px;
}

@media only screen
  and (min-width: 320px)
  and (max-width: 980px)
  { html{display: flex;
         align-items: flex-end; } 


    caption {
        width: auto;
    }
}