/*a[href="../Index.html"]{
    background-color: yellow;
    position: absolute;
    top: 500px; 
    left: 200px;
    font-family: 'Times New Roman', serif;
    font-size: 30px;
}*/
caption {
    background-color: #7ea9ac;
    border: solid #000000;
    font-size: 25px;
}

tr{
    border-bottom: solid #000000;
}

th.balise, th.language, td.balise, td.language{
    text-align: center;
    width: 200px;
}

table {
    margin-left: 10px;
    border-collapse: collapse;
    border: solid #000000;
    background-color: gray;
}

/*body{
    position :relative;
    top: 70px; 
    left: 80px;
}*/
/*#fix{
    background-color: forestgreen;
    position: fixed;
    top: 80px;
    left: 700px;

}*/
@media only screen
  and (min-width: 320px)
  and (max-width: 980px)
  { html{display: flex;
         align-items: flex-end; } 


    caption{
        width: auto;
    }
}